

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}


[hidden] {
  display: none;
}

section,
article,
aside,
header,
main.footer {
  display: block;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: max(1px, 0.1em) dashed var(--white);
    outline-offset: 0.25em;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: max(1px, 0.1em) dashed var(--White);
    outline-offset: 0.25em;
  }

  &:focus-visible {
    outline: max(1px, 0.1em) dashed var(--White);
    outline-offset: 0.25em;
  }


  &:not(:focus-visible) {
    outline: none;
  }
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
