@use "../abstracts/mixins";
@use "../abstracts/functions" as *;
/*--------------------------------------------------------*\
    #header
\*---------------------------------------------------------*/

.header {
  &__wrapper {
    @include mixins.flexify(
      $al-con: center,
      $js-con: space-between,
      $flex-d: row-reverse
    );
    margin-top: rem(43px);
  }

  &__logo {
    margin: 0 auto;
    z-index: 1;
  }

  &__hamburger-nav {
    background: inherit;
  }

  // tablet view-------------------------------------
  @include mixins.respond-to("tablet") {
    &__wrapper {
      flex-direction: initial;
      justify-content: start;
      margin-top: rem(61px);
    }

    &__logo {
      margin: 0;
    }

    &__hamburger-nav {
      display: none;
    }

    &__menu {
      margin-left: rem(57px);
    }
  }
}
